{% extends 'website_name.html' %}

{% block content %}
 <!-- Connection_Requests_grid -->

<h3 onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">Connection Requests</h3>

<div class="grid grid-cols-1 md:grid-cols-5  bg-blue-100 rounded-lg"> 
  {% for profile_name, profile_image,profile_slogan in connections_requests_table_list %}
  <div>
  <h3 onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">{{ project_type }}</h3>
  <img id="photo"class="text-lg font-semibold" src='{{ main_project_photo }}'></img>
  <p onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">{{ project_type }}</p>
  <button id='left' value=save {{ iterator1 }} onclick="send_network_request(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Accept</button>
   <button id='left' value=save {{ iterator1 }} onclick="send_network_request(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Decline</button>

  </div>
  {% endfor %}
</div>

<h3 onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">People Working on Similar Projects</h3>
 <!-- similar_projects_grid -->

<div class="grid grid-cols-1 md:grid-cols-5 bg-blue-100 rounded-lg"> 
  {% for profile_name, profile_image,profile_slogan in similar_projects_connections_table_list %}
  <div>
  <h3 onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">{{ project_type }}</h3>
  <img id="photo"class="text-lg font-semibold" src='{{ main_project_photo }}'></img>
  <p onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">{{ project_type }}</p>
  <button id='left' value=save {{ iterator1 }} onclick="send_network_request(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Connect</button>
  <button id='left' value=save {{ iterator1 }} onclick="send_network_request(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Remove</button>

  </div>
  {% endfor %}
</div>


{% endblock %}