{% extends 'website_name.html' %}

{% block content %}
 <h3 onclick="upload_projects()" id='{{ project_type }}'class="text-lg font-semibold">Start a FundRaiser</h3>

<form action="/action_page.php" class="form-container">
  <h1>Login</h1>
    <label for="psw"><b>Password</b></label>
  <input type="text" placeholder="Enter the Project Name" name="project_name" required>
   <label for="psw"><b>Password</b></label>
  <input type="text" placeholder="Enter a project description" name="project_descripion" required>
   <label for="psw"><b>Password</b></label>
  <input type="text" placeholder="Upload a Project image" name="main_image" required>
  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button type="submit" class="btn">Create</button>
  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</form>

{% endblock %}
