{% extends 'website_name.html' %}

{% block content %}

<form id="task_search_api_form">
    <br><br>
    <label for="task_search_api_form">Create and Search RaiseYouUp</label>
    <input type="text" id="search_contents" name="search_contents" required>   
    <label for="type_of_search">Type of Search</label>
    <input type="text" id="type_of_search" name="type_of_search"> 
     <label for="audio_image_upload_search">Voice and image upload notes from driving</label>
     <input type="file" id="audio_image_upload" name="file_upload" >   
    <label for="activation_time">Schedule a Task</label>
    <input type="date" id="activation_day" name="activation_day"> 
    <input type="time" name="activation_time" id="activation_time"> 
    
    <br><br>
<!-- drop down button -->
<label for="gui">settings</label>
  <select id="gui_select",name="gui_select">>
    <option selected>set_current_task!</option>
    <option value="search_tasks">search_tasks</option>
    <option value="search_gui_scripts">search_gui_scripts</option>
    <option vlaue="schedule_task">schedule_task</option>
    <option value="schedule_gui">schedule_gui</option>
    <option value="generate_gui_script">generate_gui_script</option>

  </select>   
<button type="submit">gui schedule button</button>// must have these for this to work super important for listner and javascript
</form>
<!-- Create a project group chat form -->

<button class="open-button" onclick="openForm()">Create project Group Chat</button>
<div class="invisible" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

 <!-- file upload button for audio and images -->
<script>
//this is for preventing too large files being uploaded
const uploadField = document.getElementById("audio_image_upload_search");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152) {
       alert("File is too big!");
       this.value = "";
    }
};
document.getElementById('audio_image_upload_search').addEventListener('submit', function(event) {
   // call an api to the databasse and then update the data  
     // the form input values must be created in a specfic way to get this to work
     event.preventDefault(); // Prevent the form from submitting traditionally
     const formData = new FormData(task_search_api_form);  // 'this' refers to the form
     console.log(formData)
     const formObject = {};
     formData.forEach((value, key) => {
       formObject[key] = value;
     });
     search_contents=formObject.search_contents
     type_of_search=formObject.type_of_search
     activation_time=formObject.activation_time
     activation_day=formObject.activation_day
     //get select
     const gui_select = document.getElementById('gui_select');
     const gui_type = gui_select.value;
     console.log(gui_type)
    console.log(formObject)
     const params = new URLSearchParams({
  key1: search_contents,
  key2: type_of_search,
  key3: activation_time,
  key4: activation_day,
  key5: gui_type,
});

/<script>




 <!-- scheudling button -->
<script>
document.getElementById('task_search_api_form').addEventListener('submit', function(event) {
   // call an api to the databasse and then update the data  
     // the form input values must be created in a specfic way to get this to work
     event.preventDefault(); // Prevent the form from submitting traditionally
     const formData = new FormData(task_search_api_form);  // 'this' refers to the form
     console.log(formData)
     const formObject = {};
     formData.forEach((value, key) => {
       formObject[key] = value;
     });
     search_contents=formObject.search_contents
     type_of_search=formObject.type_of_search
     activation_time=formObject.activation_time
     activation_day=formObject.activation_day
     //get select
     const gui_select = document.getElementById('gui_select');
     const gui_type = gui_select.value;
     console.log(gui_type)
    console.log(formObject)
     const params = new URLSearchParams({
  key1: search_contents,
  key2: type_of_search,
  key3: activation_time,
  key4: activation_day,
  key5: gui_type,
});
const url = `/task-search-api/?${params.toString()}`;
     fetch(url, {
        method:'GET',
        headers:{
         'Content-Type':'application/json',
         'X-CSRFToken': getCookie('csrftoken') // CSRF token for protection (if needed)
        }, 
       })
       .then((response) => {
          return response.json(); //converts response to json
       })
       .then((data) => { 
           console.log('data:',data)
           //Perform actions with the response data from the view
           // send data to fill different grid values 
           // clear all the tables in the grid
           var relevent_table_names=data[0].relevent_table_names
           var table_object_dict = {};
           var table_objects_array = [];
           for (const table_namee of relevent_table_names){
               console.log(table_namee);
               var query_str_list = ["#",table_namee," tbody"]
               var query_str=query_str_list.join('')
               const tableBody = document.querySelector(query_str);
               tableBody.innerHTML = '';
               table_object_dict[table_namee]=[];
               // save table objects
               //table_objects_array.push(tableBody)
               table_object_dict[table_namee].push(tableBody); 
               console.log("object dic");

               console.log(table_object_dict);
                }              
             //console.log(table_objects_dic);
           fill_grids(data,table_object_dict)// fill all the grids
            });              
     console.log('hi')
      });      
      // send get request to server and retrieve data for search
      
function fill_grids(data,table_object_dict) {
      data.forEach(problem => {
      // get the talbe name
      table_namee=problem.table;
      console.log(table_namee);
      console.log('hi');
      console.log('hi');
      tableBody=table_object_dict[table_namee][0];
      console.log(tableBody);
      const row = document.createElement('tr');
      row.id=problem.iterator2
      row.classList.add('border-b' ,'border-gray-300', 'hover:bg-gray-100');   
      for (const cell_info of problem.cells){
      console.log('cell_info');
      console.log(cell_info.innerText);

      const Cell = document.createElement('td'); 
      Cell.classList.add(cell_info.px,cell_info.py);
      if (cell_info.button!="None"){ 
      
      console.log('this is a button');
      const Button = document.createElement('button'); 
      const divv = document.createElement('div'); 

 
      console.log(cell_info.button[2]);
      Button.classList.add("bg-blue-500","text-white","px-4","py-2","rounded-lg","hover:bg-blue-600","focus:outline-none");
      Button.innerText = cell_info.button[3];
      Button.type=cell_info.button[1];
      Button.value=cell_info.button[4]+problem.iterator2
      console.log("this is the end button");
      console.log(cell_info.button[0]);
      console.log(Button.onclick);
      console.log(Button);
      function modify_info2(){iteratorr=Button.value;
      modify_info(iteratorr)
      console.log('meowwwwwww');}
      Button.addEventListener('click', modify_info2)
    
      //Button.onclick =modify_info;   
      
      Cell.appendChild(Button)
      }
      else {
      console.log('this is not a button');
      Cell.id=problem.iterator;
      Cell.innerText = cell_info.innerText;
      }
      if (cell_info.onclick!="None"){
      
      function set_current_task2(){iteratorrr=problem.iterator;
      set_current_task(iteratorrr)
      console.log('hehehehe');}
      Cell.addEventListener('click', set_current_task2)
      
      //Cell.onclick =set_current_task;
      }
      console.log(cell_info.button[2]);  
      
      if (cell_info.contenteditable!="None"){
      Cell.contentEditable = "true";

      console.log("conent editable"); 
      }             
      row.appendChild(Cell);  
      }
      tableBody.appendChild(row);   
      }); }     
      
      
            
function fill_psp_table(table_namee,data){      
console.log('grid!') 
//var table_namee= table_name[0]
//var data= table_name[1]
var query_str_list = ["#",table_namee," tbody"]
var query_str=query_str_list.join('')
const tableBody = document.querySelector(query_str);                 
// Clear existing table rows
tableBody.innerHTML = '';
// Loop through the data and add rows to the table
console.log('hmtl')           
data.forEach(problem => {
    const row = document.createElement('tr');
    row.classList.add('border-b' ,'border-gray-300', 'hover:bg-gray-100');
    const nameCell = document.createElement('td');
    const ageCell = document.createElement('td');
    const meow_cell = document.createElement('td');
    nameCell.classList.add('px-1','py-1');
    nameCell.innerText = problem.name;
    nameCell.id = 'ID';
    ageCell.innerText = problem.name;
    meow_cell.innerText = problem.name;
    row.appendChild(nameCell);
    row.appendChild(ageCell);
    row.appendChild(meow_cell);
    tableBody.appendChild(row);
    add_problem_button_listener(button_id,problem.name)
    // send in proper data into function to get it to work
    // add in listender that corresponds to the listeners done below for each cell created
    // just need to find how to add id to an element
});           
}      
function getCookie(name) {
         let cookieValue = null;
         if (document.cookie && document.cookie !== '') {
           const cookies = document.cookie.split(';');
           for (let i = 0; i < cookies.length; i++) {
             const cookie = cookies[i].trim();
             if (cookie.substring(0, name.length + 1) === (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
             }
           }
         }
         return cookieValue;
         // need to then retrieve data and update values in grid
       }  
</script>


<!-- BELOW IS ALL THE PROJECT RELATED CONTENT and tables -->
<button id='left' value=save {{ iterator1 }}  <button onclick="upload_month_data(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Donate</button>
<button id='left' value=save {{ iterator1 }}  <button onclick="upload_month_data(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">View Project Calender</button>


<button class="open-button" onclick="openForm()">Edit Project Info</button>
<div class="invisible" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>



{% for project_name,project_description,main_project_photo,iterator1 in projects_info_table_list %}
{% if main_project_photo!="None" %}
<img id="photo"class="text-lg font-semibold" src='{{ main_project_photo }}'></img>
   {% endif %}   
<h1 id="project_name"class="text-lg font-semibold">{{ project_name }}</h1>
<p id="description"class="text-lg font-semibold">{{ project_description }}</p>
{% endfor %} 

for photoo in project_photos_list
<img id="photo"class="text-lg font-semibold" src='{{ photoo }}'></img>

{% endfor %}  
{% for current_tas in current_task %}
<h3 id="current_task"class="text-lg font-semibold">Current Task: {{ current_task }}</h3>
{% endfor %} 
<!-- project_schedule_table -->
<div class="col-span-1 bg-blue-100 p-4 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold">current_schedule_table</h3>
      <table class="min-w-full table-auto border-collapse" id="project_schedule_table">
        <thead>
          <tr class="bg-gray-200 text-gray-600">
            <th class="px-6 py-3 text-left">Task</th>
            <th class="px-6 py-3 text-left">Tools</th>
            <th class="px-6 py-3 text-left">Date</th>
            <th class="px-6 py-3 text-left">Time</th>
          </tr>
        </thead>
        <tbody>
        {% for task,date,time,task_scheduled_scripts_iterator,iterator2 in project_schedule_table_list %}
              <tr class="border-b border-gray-300 hover:bg-gray-100" id='{{ iterator2 }}'>
               <td onclick="set_current_task(this.id)" contenteditable="true" id='{{ task_scheduled_scripts_iterator }}' class="px-6 py-4">{{ task}} </td>
                               <td class="px-6 py-4">{{ tools }} </td>

               <td  class="px-6 py-4"  contenteditable="true">{{ date }} </td>
               <td  class="px-6 py-4" id='{{ time_scheduled_scripts_iterator }}' contenteditable="true">{{ time }} </td>
               <td  class="px-1 py-1">  <button id='save' value='save {{ iterator2 }}'  <button onclick="modify_info(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">save</button></td>
               <td  class="px-1 py-1">  <button id='delete' value='delete {{ iterator2 }}'  <button onclick="modify_info(this.value)" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">delete</button></td>
                               
               <td  class="px-1 py-1">  <button id='share' value=share {{ iterator1 }}  <button onclick="modify_info(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Share</button></td> 
               <td  class="px-1 py-1">  <button id='shared_by' value=shared_by {{ iterator1 }}  <button onclick="modify_info(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Shared by</button></td>
              <td  class="px-1 py-1">  <button id='connect' value=connect {{ iterator1 }}  <button onclick="modify_info(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Connect</button></td> 
              <td  class="px-1 py-1">  <button id='connect' value=connect {{ iterator1 }}  <button onclick="modify_info(this.value)"  type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">Message</button></td>  
 
 
 
         
              </tr>               
       {% endfor %}  
        </tbody>
      </table>
    </div>    